:root {
  --shadow-faint: #00000022;
  --shadow-sm: rgba(170, 170, 170, 0.8);
  --shadow-txt: #00000044;
  --main-col: #0891b3;
  --card1: #9e1c1c;
  --card2: #7d75ca;
  --card3: #c263b4;
  --card4: #d78f3a;
  --card5: #8984c1;
  --card6: #5e8f4d;
  font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/* Shared styles */
* {
  box-sizing: border-box;
  margin: 0;

  html,
  body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }

  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.125rem;
  }

  .description,
  .about-text {
    color: #555555;
  }
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 100vh;
  padding: 4rem;
  padding-bottom: 2rem;
  min-height: fit-content;
  background: linear-gradient(
    167.5deg,
    var(--main-col) 65.5%,
    rgba(96, 96, 96, 0.5) 65.52%,
    transparent 66.5%
  );

  .hero-img {
    position: relative;
    height: auto;
    margin: 0 1.5rem 1.5rem 0;
    float: left;
    z-index: 10;

    h1 {
      color: whitesmoke;
      text-shadow: 0 4px 4px var(--shadow-txt);
      font-size: 3.5rem;
      position: absolute;
      margin: 0.5rem 0;
      width: 100%;
      text-align: center;
      bottom: 0;
    }

    img {
      height: calc(100vh - 6rem);
      max-width: calc(50vw - 2rem);
      aspect-ratio: 15 / 16;
      object-fit: cover;
      box-shadow: 8px 8px 8px var(--shadow-faint);
    }
  }

  .about {
    padding: 2rem;
    margin-top: 2rem;
    height: calc(100vh - 12rem);
    min-height: fit-content;
    box-shadow: 4px 4px 8px var(--shadow-sm);
    background: white;

    .inner {
      position: relative;
      height: 100%;
      gap: 2rem;
      min-height: fit-content;
    }

    .about-text {
      padding: 1.5rem 0;
      padding-bottom: 2rem;
      line-height: 1.8rem;
      font-size: 1.2rem;
    }

    .socials {
      font-size: 1.75rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 2rem;
}

main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    width: 100%;
    padding: 1rem;
  }

  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    margin-top: 1rem;
    gap: 2.25rem;
    row-gap: 3rem;
    max-width: fit-content;
    justify-content: space-between;
  }

  .card:nth-child(6n) .img-wrapper {
    background-color: var(--card1);
  }
  .card:nth-child(6n + 1) .img-wrapper {
    background-color: var(--card2);
  }
  .card:nth-child(6n + 2) .img-wrapper {
    background-color: var(--card3);
  }
  .card:nth-child(6n + 3) .img-wrapper {
    background-color: var(--card4);
  }
  .card:nth-child(6n + 4) .img-wrapper {
    background-color: var(--card5);
  }
  .card:nth-child(6n + 5) .img-wrapper {
    background-color: var(--card6);
  }

  .card {
    box-shadow: 0 0 8px var(--shadow-sm);
    max-width: 24rem;

    .img-wrapper {
      aspect-ratio: 3 / 2;
      background-color: var(--card1);
      position: relative;

      .placeholder {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        color: white;
        font-size: 2.125rem;
      }
    }

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    .info {
      padding: 1rem;
      box-shadow: 2px 4px 8px var(--shadow-sm);
      height: 8rem;
      overflow-y: scroll;
    }

    .project {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 0.8rem;
    }

    .sources {
      font-size: 1.25rem;
      display: flex;
      gap: 1rem;
    }

    .description {
      font-size: 0.8rem;
    }
  }
}

footer {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
  padding: 3rem 4rem;
  background-color: var(--main-col);
  width: 100%;

  .contact {
    padding-bottom: 4rem;
    color: whitesmoke;
    max-width: 22rem;

    .message,
    .contact-info {
      margin: 1.5rem 0;
    }

    .contact-info > * {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      line-height: 2rem;
    }

    .email {
      font-size: clamp(1rem, 3vw, 1.2rem);
    }

    .iconify {
      font-size: 1.5rem;
      display: inline-block;
    }
  }

  .img-wrapper {
    flex: 1;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  header {
    .hero-img {
      margin-left: -2rem;

      h1 {
        top: 0;
        text-align: right;
        width: calc(100vw - 4rem);
      }
    }
    .about {
      margin-top: 6rem;
    }
    .about h2 {
      text-align: center;
      margin-top: 2rem;
    }
    .socials {
      display: none;
    }
  }

  main {
    .project-cards {
      grid-template-columns: repeat(2, minmax(14rem, 1fr));
      margin-bottom: 4rem;
    }
  }

  footer {
    padding-left: clamp(2rem, 6.5vw, 4rem);
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  main .project-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .contact {
    max-width: 60vw;
  }
}

@media (max-width: 600px) {
  h2 {
    text-align: center !important;
  }

  header {
    padding: 2rem;
    background: linear-gradient(
      167.5deg,
      var(--main-col) 45.5%,
      rgba(96, 96, 96, 0.5) 45.52%,
      transparent 46.5%
    );

    .hero-img {
      margin: 0;
      float: none;

      img {
        max-width: none;
        width: 100%;
        height: auto;
        aspect-ratio: auto;
      }
    }

    .about {
      box-shadow: none;
      margin-top: 0;
      background-color: transparent;

      .about-text {
        padding-bottom: 0;
      }

      .socials {
        position: unset;
        display: flex;
      }
    }
  }

  .socials {
    justify-content: center;
  }

  main {
    padding: 2rem;

    .project-cards {
      margin-bottom: 4rem;
    }
  }

  footer {
    padding: 0;
    flex-direction: column;
    font-size: 1rem;

    .contact {
      max-width: none;
      padding: 2rem;

      .message {
        font-size: 1.2rem;
      }

      .iconify {
        display: none;
      }

      .email {
        font-size: clamp(0.8rem, 5vw, 1rem);
      }
    }

    img {
      aspect-ratio: 2 / 3;
      height: auto;
    }
  }
}
